<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Choice Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .choice-container {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Nama Quiz</h2>
        <form action="{% url 'submit_attempt_quiz' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{}}">
            {% for question in questions %}
            <div class="form-group">
                <div class="card">
                    <div class="card-header">
                        {{ question.number }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{question.question}}</p>
                            {% for key, value in question.choices.items %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question{{ question.number }}"
                                    id="question{{ question.number }}-option{{ key }}" value="{{ key }}">
                                <label class="form-check-label" for="question{{ question.number }}-option{{ key }}">
                                    {{ value }}
                                </label>
                            </div>
                            {% endfor %}
                        </blockquote>
                    </div>
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>