<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Choice Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .choice-container {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Selamat Mengerjakan &#128073; &#128072;</h2>
        <form action="{% url 'submit_attempt_quiz' quiz_id=quiz_id %}" method="post">
            {% csrf_token %}
            {% for question_id, question_data in questions.items %}
            <div class="form-group">
                <input type="hidden" value="{{question_id}}" name="question_id">
                <div class="card">
                    <div class="card-header">
                        {{ question_data.text }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            {% for option in question_data.options %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question{{ question_id }}"
                                    id="question{{ question_id }}-option{{ forloop.counter }}" value="{{ option }}">
                                <label class="form-check-label"
                                    for="question{{ question_id }}-option{{ forloop.counter }}">
                                    {{ option }}
                                </label>
                            </div>
                            {% endfor %}
                        </blockquote>
                    </div>
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html