body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#leaderboard-container {
    width: 600px;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Example gradient from pink to orange */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    padding: 20px;
}

#leaderboard-container h1 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-bottom: 16px;
    font-size: 24px;
    color: #333;
}

#leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#leaderboard-table th, #leaderboard-table td {
    padding: 12px;
    text-align: center; /* Center-align table text */
}

#leaderboard-table th {
    background-color: #f1f1f1;
    color: #333;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

#leaderboard-table tbody tr {
    transition: background-color 0.3s ease;
}

#leaderboard-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

#leaderboard-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

#leaderboard-table tbody tr:hover {
    background-color: #f1f1f1;
}

#leaderboard-table tbody tr td.rank {
    font-size: 18px;
    font-weight: bold;
    margin-right: 8px;
}

#leaderboard-table tbody tr td.name {
    text-align: center;
}

#leaderboard-table tbody tr td.points {
    color: #4CAF50;
    font-size: 16px;
    font-weight: bold;
}

#leaderboard-table tbody tr td.timestamp {
    width: 25%;
    text-align: center; /* Center-align timestamps */
}

#back-home-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Ensure it looks like a button */
}

#back-home-button:hover {
    background-color: #45a049;
}

#back-home-button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

#back-home-button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

#back-home-button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
