{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
  <!-- [ Main Content ] start -->
  <div class="row">
    {% for quiz in quizzes %}
    <div class="col-md-6 col-xl-3">
      <div class="card daily-sales">
        <div class="card-block">
          <h6 class="mb-4">{{quiz.name}}</h6>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center m-b-0">{{quiz.description}}</h3>
            </div>
          </div>
          <div class="m-t-30" style="height: 7px;">
            <h5>Created By: {{quiz.createdBy}} </h5>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col-12">
      <h3>There is no quiz available at the moment.</h3>
    </div>
      {% endfor %}
      {% include "pages/components/modal.html"%}
    </div>

{% endblock content %}